# ============================== API KEYS (LOCAL) ===============================
OPENROUTER_API_KEY=""
LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""

# ============================== API URLS (LOCAL) ==============================
OPENROUTER_URL=""
LANGFUSE_HOST=""
POSTGRESQL_URL=""
N8N_WEBHOOK_URL=""

# ============================== POSTGRESQL (DOCKER)  ==============================
POSTGRES_PASSWORD=""
POSTGRES_USER=

# ============================== LANGFUSE (DOCKER) ==============================
LANGFUSE_PUBLIC_KEY_DOCKER=""
LANGFUSE_SECRET_KEY_DOCKER=""